tr:not(:last-child) {
  border-bottom: 1px solid #fff;
}

tr button {
  background-color: #14213d;
  color: #fff;
  border-radius: 5px;
  /* padding: 8px; */
  padding: 6px 9px;
  transition: background-color 200ms ease-in-out, color 200ms;
  font-size: 12px;
  cursor: pointer;
}

tr button:hover {
  background-color: #000;
  color: #ffb703;
}

tr .total {
  /* color: #e76f51; */
  color: #fb5607;
}
/* .gold {
  color: #f5ff6d;
}

.silver {
  color: grey;
}

.bronze {
  color: #99582a;
} */
